---
- name: "Manual override: SSH to remote machine (Ideally you can copy from Project management system to logon)"
  tags:
    - manual
  connection: local
  debug:
    msg: "ssh {{ server_user }}@{{ host }}"

- name: "Manual override: Delete Staging dir (CAREFUL NOT TO TRUNCATE THIS COMMAND)"
  tags:
    - manual
  connection: local
  debug:
    msg: "rm -rf {{ location_staging }}"

- name: "Manual override: Checkout to staging the ACTIVE project ONLY"
  tags:
    - manual
  connection: local
  debug:
    msg: "svn export --force --username {{ github_user }} --password {{ github_pass }} https://github.com/{{ github_repo_name }}/{{ github_active_dir }} {{ location_staging }}"

- name: "Manual override: Test code"
  tags:
    - manual
  connection: local
  debug:
    msg: "http://test.{{ server_user }}.{{ host }}/client/"

- name: "Manual override: GO LIVE"
  tags:
    - manual
  connection: local
  debug:
    msg: "rsync -av --omit-dir-times --no-perms {{ location_staging_launch_files_base }}/. {{ location_live }}/."

- name: STAGING - uploading script...
  tags:
    - staging
  copy:
    src: staging.sh
    dest: "{{ location_tmp }}/staging.sh"
    owner: "{{ server_user }}"
    group: "{{ server_user }}"
    mode: 0775

- name: STAGING - running...
  tags:
    - staging
  shell: "{{ location_tmp }}/staging.sh {{ project_name }} {{ location_tmp }} {{ location_staging }} {{ location_live }} {{ github_repo_name }} {{ github_user }} {{ github_pass }} {{ location_staging_testing_base }} {{ location_staging_launch_files_base }} >> {{ location_tmp }}/{{ project_name }}.log"

- name: TESTING - uploading script...
  tags:
    - testing
  copy:
    src: testing.sh
    dest: "{{ location_tmp }}/testing.sh"
    owner: "{{ server_user }}"
    group: "{{ server_user }}"
    mode: 0775

- name: TESTING - running...
  tags:
    - testing
  shell: "{{ location_tmp }}/testing.sh {{ project_name }} {{ location_tmp }} {{ location_staging }} {{ location_live }} {{ github_repo_name }} {{ github_user }} {{ github_pass }} {{ location_staging_testing_base }} {{ location_staging_launch_files_base }} >> {{ location_tmp }}/{{ project_name }}.log"

- name: LAUNCH - uploading script...
  tags:
    - launch
  copy:
    src: launch.sh
    dest: "{{ location_tmp }}/launch.sh"
    owner: "{{ server_user }}"
    group: "{{ server_user }}"
    mode: 0775

- name: LAUNCH - running...
  tags:
    - launch
  shell: "{{ location_tmp }}/launch.sh {{ project_name }} {{ location_tmp }} {{ location_staging }} {{ location_live }} {{ github_repo_name }} {{ github_user }} {{ github_pass }} {{ location_staging_testing_base }} {{ location_staging_launch_files_base }} >> {{ location_tmp }}/{{ project_name }}.log"

- name: Cleanup (1/3)
  tags:
    - cleanup
  file:
    path: "{{ location_tmp }}/staging.sh"
    state: absent

- name: Cleanup (2/3)
  tags:
    - cleanup
  file:
    path: "{{ location_tmp }}/testing.sh"
    state: absent

- name: Cleanup (3/3)
  tags:
    - cleanup
  file:
    path: "{{ location_tmp }}/launch.sh"
    state: absent
