--- #playbook file
- hosts: undoapps
  vars:
    project_name: "ProjectName"
    host: "server.com" #server1.com
    server_user: "serveruser"
    location_tmp: "/home/projectName/private"
    location_staging: "/home/projectName/www/subDomain/trunk"
    location_staging_launch_files_base: "/home/projectName/www/subDomain/trunk/src" #allows to specify where the project files are
    location_staging_testing_base: "/home/projectName/www/subDomain/trunk/app/webroot"
    location_live: "/home/projectName/www/www"
    github_repo_name: "undologic/updateCase-boilerPlate" #eg undologic/name without .git
    github_user: "githubuser"
    github_pass: "password"
    github_active_dir: "" # trunk or branches/name
  become: no
  become_user: root
  roles:
    - deploy
